<div id="pop-up" class="soft_edges invisible">
    <a href="/sign-in">
        <div class="pop-up item">
            Sign in
        </div>
    </a>
    <a href="/sign-up">
        <div class="pop-up item">
            Sign up
        </div>
    </a>

</div>
<link rel="stylesheet" href="/styles/pop-up.css">