<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Sign in</title>
  <link rel="stylesheet" href="/styles/sign_in.css" />
</head>

<body>
  <div class="box_container soft_edges">
    <h1 id="sign_in_header">Sign up</h1>
    <form class="input center_hor" action="/create-user" method="post">
      <div id="username_container" class="center_hor inp_container">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="center_hor" placeholder="Enter username" />
      </div>
      <div id="email_container" class="center_hor inp_container">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email_inp" class="center_hor" placeholder="Enter Email" />
      </div>
      <div id="password_container" class="center_hor inp_container">
        <label for="password">Password:</label>
        <input type="password" name="password" id="pass_inp" class="center_hor" placeholder="Enter password" />
      </div>
      <input type="submit" name="" value="Sign up" class="center_hor" />
      <div id="bottom_text">
        <p>already have an account? <a href="/sign-in">sign in</a></p>
      </div>
    </form>
  </div>
  <script src="/scripts/sign-up.js" type="module"></script>
</body>

</html>