
header {
  height: 35px;
  background-color: #31353b;
  width: 100%;
  margin-top: 0;
  z-index: 1;
  /* position: relative; */
}
header svg {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* #logo-container{
} */

#logo-container {
  display: inline-block;
  border-radius:50%;
  width: fit-content;
  position: fixed;
  left: 45%;
  top: 0;
  /* border:2px solid red; */
}

a #open-server-button{
  position: relative;
  float: right;
  right: 60px;
  top: 5px;
}
#log-out{
  position: relative;
  float: right;
  left: 70px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: #31353b;
}

.arrow-down{
  border: solid white;
  border-width: 0 3px 3px 0;
  /* display: inline-block; */
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  float: right;
  left: 100px;
  top: 5px;
  height: 5px;
  width: 5px;
}

@media only screen and (max-width: 450px) {
  #logo-container {
    display: none;
  }
}
